#
# Exclude these files from release archives.
#
# This will also make the files unavailable when using Composer with `--prefer-dist`.
#
# Via WPCS.
#
/.editorconfig expore-ignore
/.eslintignore expore-ignore
/.eslintrc.json expore-ignore
/.github export-ignore
/.npmrc expore-ignore
/.nvmrc expore-ignore
/.phpcs expore-ignore
/.phpcs export-ignore
/.phpcs.xml expore-ignore
/.phpcs.xml export-ignore
/.phpunit.result.cache expore-ignore
/configure.php export-ignore
/Makefile export-ignore
/phpunit.xml export-ignore
/tests export-ignore
/types export-ignore

#
# Auto detect text files and perform LF normalization.
#
# http://davidlaing.com/2012/09/19/customise-your-gitattributes-to-become-a-git-ninja/
#
* text=auto

#
# The above will handle all files not found below.
#
*.md text
*.php text
*.inc text
